*{
    margin-top: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #292b2c;
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}
h1{
    text-align: center;
    margin-top: 5vh;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    transition: all;
    transition-duration: 0.6s;
}
form{
    /* border: 2px solid red; */
    border-radius: 5px;
    padding: 10px 24px 20px 20px;
    height: 430px;
    background-color:white;
    width: 330px;
    margin: auto;
    margin-top: 1vh;
    transition: all;
    transition-duration: 0.3s;
}
@media (max-width:390px) {
    h1{
        font-size: 35px;
    }
    form{
        width: 290px;
        height: 410px;
    }
    
}
@media (max-width:347px) {
    h1{
        font-size: 30px;
    }
    form{
        width: 250px;
        height: 360px;
    }
    form label{
        font-size: 15px;
    }
    form button{
    padding: 7px 17px 7px 17px ;

    }
    
}
form label{
    color:#292b2c;
    display: block;
    font-weight: bolder;
    margin-top: 5%;
    letter-spacing: 0.2px;
    font-size: 19px;
    transition: all;
    transition-duration: 0.6s;
}
form input {
    display: block;
    height: 10%;
    margin-top: 8px;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px black;
    background-color: whitesmoke;
    padding-left: 10px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 16px;
    color: rgb(117, 117, 117);
    width:98% ;
    transition: all;
    transition-duration: 0.6s;
}
form input:hover{
    box-shadow: 0px 0px 15px black;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
}
form button{
    margin: 5% 34% 0% 34%;
    padding: 7px 20px 7px 20px ;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px black;
    background-color: #292b2c;
    font-weight: 900;
    color: rgb(202, 202, 202);
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1.3px;
    transition: all;
    transition-duration: 0.8s;
}
form button:hover{
    color: white;
    padding: 7px 19px 7px 19px ;
    letter-spacing: 0.1px;


}